.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.filterInput {
    padding: 5px 0 5px 15px;
    font-size: 20px;
    width: 350px;
    background-color: #ab3c3c;
}
