.back {
    position: absolute;
    width: 400px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    background-color: brown;
    right: 100px;
    top: 50px;
}

.message {
    font-size: 20px;
    color:#FDF5E6;
}